* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

header {
    background: cornflowerblue;
    min-height: 100dvh;
    transition: 0.4s;
    display: flex;
  
    flex-direction: column;
}

.nav {
    padding: 25px 0;
}

.nav__list{
    display: flex;
    gap: 30px;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}
.nav__logo{
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
}

.nav__link {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.header__title{
    font-size: 6vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: ;
    
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}



 

 
